.delete-icon {
  width: 15px;
  cursor: pointer;
}

.calculate-icon {
  width: 30px;
  cursor: pointer;
}

#result {
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  margin: 20px 100px;
  background-color: lightskyblue;
}

div {
  margin: 10px;
}
